.news-one {
    background-image: url("https://img.wallpapersafari.com/desktop/1600/900/12/14/OkqWUF.jpg");
    background-position: center;
    background-size: 1000px;
    font-size: 20pt;
    width:100%;
    height: 10vh;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    text-align: right;
}

.news-two {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-simple-cool-blood-basketball-background-image_229988.jpg");
    background-position: center;
    background-size: 600px;
    font-size: 20pt;
    width:100%;
    height: 10vh;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    text-align: right;
}

.news-three {
    background-image: url("https://cdn.wallpapersafari.com/4/80/R9YhDp.jpg");
    background-position: center;
    background-size: 800px;
    font-size: 20pt;
    width:100%;
    height: 10vh;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    text-align: right;
}

.news-button {
    color: white;
    text-decoration: none;
}

.upcoming {
    text-decoration: none;
    color: rgb(0, 98, 255);
}

.upcoming:hover {
    text-decoration: underline;
    cursor: pointer;
}