.navbar-left {
    background-color: rgb(216, 123, 9);
    text-align: center;
    height: 100vh;
    margin: 0;
    color: white;
    overflow: auto;
}

.navbar-left-button {
    width: 80%;
    margin: 0;
    font-size: x-large;
    background-color: rgb(216, 123, 9);
    outline: 0;
    border: 0;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 2px;
}

.navbar-left-button:hover {
    background-color: rgba(255, 255, 255, 0.876);
    color: black;
}