.App {
  background-color: rgb(253, 252, 252);
}

.top-nav {
  /* background-color: red; */
  height: 7vh;
}

.top-nav-button {
  float:right;
  color: black;
  width: 150px;
  font-size: large;
  margin-top: 14px;
  background-color: rgb(253, 252, 252);
  outline: 0;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
}

.top-nav-button:hover{
  background-color: rgb(216, 123, 9);
  color: white;
}
